@import "../../global";

.intro {
  background-color: $mainColor;
  color: $textColor;
  display: flex;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imageContainer {
      width: 800px;
      height: 800px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      float: right;

      @include mobile{
        align-items: flex-start;
      }

      img {
        height: 100%;

        @include mobile{
          height: 50%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $headingColor;

      @include mobile{
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 4rem;
        margin: 1rem 0;

        @include mobile{
          font-size: 2rem;
        }
      }
      h2 {
        font-size: 2rem;

        @include mobile{
          font-size: 1.5rem;
        }
      }
      h3 {
        font-size: 1.5rem;

        @include mobile{
          font-size: 1rem;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      a {
        position: absolute;
        bottom: 1rem;
        left: 30%;

        img {
          width: 3rem;
          animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
          100% {
            opacity: 0;
          }

        }
      }
    }
  }
}